body{
    padding-top: 20px;
}
.tbl-1 th, .tbl-1 td{
    height: 30px;
    padding: 5px !important;
    
}
.tbl-1 td{
    font-size: 14px;
    font-weight: normal;
}

.tbl-1 .btn{
    padding: 0 5px !important;
    font-size: 12px;
}
.group-search{
    margin-bottom: 5px;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}
.btn-add-new{
    background: #fff;
    border : 1px solid #c7c7c7;
    padding: 3px;
    color : #000;
    margin-left: 20px;
}
.row-1{
    margin-right: 0;
    margin-left: 0; 
}
.btn-add-new:hover {
    color: #000;
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}
th{
    text-align: center;
}